<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="cn.surine.schedulex">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />   <!-- 读取SD卡的权限:打开相册选取图片所必须的权限 -->
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" /><!-- 日历权限 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission
        android:name="android.permission.READ_LOGS"
        tools:ignore="ProtectedPermissions" />

    <application
        android:name=".base.controller.App"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning"
        tools:replace="android:allowBackup">
        <activity
            android:name=".ui.MainActivity"
            android:windowSoftInputMode="adjustPan"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- bugly-->
        <activity
            android:name="com.tencent.bugly.beta.ui.BetaActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|locale"
            android:theme="@android:style/Theme.Translucent" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="cn.surine.schedulex.authorities"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>


        <receiver
            android:name=".app_widget.normal_daily.NormalDailyProvider"
            android:label="每日课程-默认"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE_OPTIONS" />
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE_MY" />
                <!--唤醒小部件-->
                <action android:name="android.appwidget.action.WAKE_UP" />
                <!--切换天用的广播-->
                <action android:name="android.appwidget.action.NEXT_DAY" />
                <action android:name="android.appwidget.action.PREVIOUS_DAY" />

            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_4_4" />
        </receiver>


        <receiver
            android:name=".app_widget.little_daily.LittleDailyProvider"
            android:label="彩虹"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE_OPTIONS" />
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE_MY" />
                <!--唤醒小部件-->
                <action android:name="android.appwidget.action.WAKE_UP" />
                <!--切换天用的广播-->
                <action android:name="android.appwidget.action.NEXT_DAY" />
                <action android:name="android.appwidget.action.PREVIOUS_DAY" />

            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_4_2" />
        </receiver>


        <receiver
            android:name=".app_widget.terminal_ui.TerminalUiDailyProvider"
            android:label="终端"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE_OPTIONS" />
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE_MY" />
                <!--唤醒小部件-->
                <action android:name="android.appwidget.action.WAKE_UP" />
                <!--切换天用的广播-->
                <action android:name="android.appwidget.action.NEXT_DAY" />
                <action android:name="android.appwidget.action.PREVIOUS_DAY" />

            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/terminal_ui_3_2" />
        </receiver>

        <receiver
            android:name=".app_widget.normal_week.NormalWeekProvider"
            android:label="每周课程-默认"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE_OPTIONS" />
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE_MY" />
                <!--唤醒小部件-->
                <action android:name="android.appwidget.action.WAKE_UP" />
                <!--切换天用的广播-->
                <action android:name="android.appwidget.action.NEXT_DAY" />
                <action android:name="android.appwidget.action.PREVIOUS_DAY" />

            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/normal_week_4_4" />
        </receiver>

        <!-- 小部件保活服务 -->
        <service
            android:name=".app_widget.core.KeepService"
            android:enabled="true"
            android:exported="false" />

        <service
            android:name=".app_widget.normal_daily.NormalDailyService"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BIND_REMOTEVIEWS" />


        <service
            android:name=".app_widget.normal_week.NormalWeekService"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

        <service
            android:name=".app_widget.core.DailyRemoteViewService"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BIND_REMOTEVIEWS" />


        <service
            android:name=".app_widget.core.WeekRemoteViewService"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

        <service
            android:name=".app_widget.terminal_ui.TerminalUiDailyService"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BIND_REMOTEVIEWS" />


        <service
            android:name=".app_widget.little_daily.LittleDailyService"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

        <provider
            android:name="cn.bmob.v3.util.BmobContentProvider"
            android:authorities="cn.surine.schedulex.BmobContentProvider"
            android:exported="false" />
    </application>

</manifest>